// Custom variables
$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
$logo-width: 10rem;
$container-img-width: 20rem;

// Bootstrap import
@import "~bootstrap/scss/bootstrap";

// Font definitions
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

// Custom styles
body {
  font-family: $font-stack;

  #logo {
    width: $logo-width;
  }

  .container {
    img {
      width: $container-img-width;
    }
  }
}
